<html>
<head>
<title>Test</title>
</head>
<body>
	<div style="width:300px;float:left;margin:10px">
		<ul>
			<li>Name: {{ data.name }}</li>
			<li>Last name: {{ data.surname }}</li>
			<li>Date of birth: {{ data.birth}}</li>
			<li>Bio: {{ data.bio }}</li>
		</ul>
	</div>
	<div style="width:300px;float:left;margin:10px">
		<ul>
			<li>Email: {{ data.email }}</li>
			<li>Jabber: {{ data.jabber }}</li>
			<li>Skype: {{ data.skype }}</li>
			<li>Other contacts: {{ data.other_contacts }}</li>
		</ul>
	</div>
</body>
</html>